<nav>
  <ul class="pager">

    <li class="previous{{#unless prev}} disabled{{/unless}}">
      {{#if prev}}<a href="{{page_url prev}}">{{else}}<span>{{/if}}
        <i class="fa fa-long-arrow-left"></i> Neuere Posts
      {{#if prev}}</a>{{else}}</span>{{/if}}
    </li>
    <li class="next{{#unless next}} disabled{{/unless}}">
      {{#if next}}<a href="{{page_url next}}">{{else}}<span>{{/if}}
        Ältere Posts <i class="fa fa-long-arrow-right"></i>
      {{#if next}}</a>{{else}}</span>{{/if}}
    </li>
  </ul>
</nav>
